# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/sportsCards
spring.datasource.username=RGcards
spring.datasource.password=YOUR_DATABASE_PASSWORD
#spring.datasource.driverClassName=org.postgresql.Driver

spring.datasource.initialization-mode=always
spring.datasource.initialize=true

# Thymeleaf Configuration
spring.thymeleaf.cache=false
spring.thymeleaf.prefix=file:src/main/resources/templates/
spring.thymeleaf.suffix=.html
spring.thymeleaf.mode=HTML

# Email Configuration
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_EMAIL@gmail.com
spring.mail.password=YOUR_APP_PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
app.mail.to=RECIPIENT_EMAIL@gmail.com

# Static Resources
spring.web.resources.static-locations=file:src/main/resources/static/

# YouTube API
youtube.api.key=YOUR_YOUTUBE_API_KEY
