<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>RG Website</title>
    <style></style>
    <link rel="stylesheet" th:href="@{/assets/style.css}" />
  </head>
  <body>
    <div th:fragment="header" class="banner-header">
      <span>
        <a class="logo" href="/">
          <img th:src="@{/img/RGForBanner.png}" />
        </a>
      </span>

      <ul>
        <li class="dropdown">
          <a class="banner-category" href="/random">
            Randomizer
          </a>
        </li>
        <li class="dropdown">
          <a class="banner-category" href="/card">
            cards
          </a>

          <div class="dropdown-content">
            <a href="/card/addTransaction">add Transaction</a>
            <a href="/card/cards">view Cards</a>
            <a href="/card/searchCard">search Cards</a>
            <a href="/transactions/">view Transactions</a>
          </div>
        </li>
        <li class="dropdown">
          <a class="banner-category" href="/crawler">
            yahoo crawler
          </a>
        </li>
        <li title="open new tab">
          <a class="banner-category" href="http://localhost:3000" target="_blank">
            youtube
          </a>
        </li>
        <!-- <li onclick="location.href='/cheer'">
                    <div>
                    <a>cheer</a>
                    </div>
                </li> -->
      </ul>
    </div>
  </body>
</html>
